*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:white;
    font-family:Tahoma,sans-serif;
}

.header{
    background:#1b1b1b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#e50914;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-right:25px;
    transition:.3s;
}

.navbar a:hover{
    color:#e50914;
}
